{
	"$schema": "./node_modules/wrangler/config-schema.json",
	"name": "queonda",
	"compatibility_date": "2026-07-04",
	"compatibility_flags": [
		"nodejs_compat"
	],
	"kv_namespaces": [
		{
			"binding": "KV_CACHE",
			"id": "<KV_CACHE_ID>",
			"preview_id": "<KV_CACHE_PREVIEW_ID>"
		},
		{
			"binding": "SESSION",
			"id": "<SESSION_ID>",
			"preview_id": "<SESSION_PREVIEW_ID>"
		}
	]
}
